TS.exe
TG.exe
TestingModule/TGM.exe
TestingModule/TSM.exe
TestingModule/timsortTestMod.o
TestingModule/TMST.exe
TestingModule/TestModStandart.o
readstrings.o
timsort.o
timsortTest.o
TQI.exe
TimSort.o
TimSort.c
*.txt
*.exe